*{transition: 1s;}
.container{max-width: 1200px;}
h1{font-size: 4.875rem;font-family:DMSans-Bold;line-height: 90px;}
h2{font-size: 3.375rem;line-height: 70px;font-family:Rubik-Medium;color: #235745;}
h3{font-size: 1.75rem;line-height: 35px;color: #000;font-family:DMSans-Medium;}
h4{font-size: 1.5rem;color: #235745;font-family:Rubik-Medium;}

h6{font-size: 1.25rem;font-family:Rubik-Medium;}
p{font-size: 1rem;color: #5B5B5B;font-family:DMSans-Regular;line-height: 30px;}

.btn-warning{
  background-color: #F7C35F;color: #000;letter-spacing: 2px;border-radius: 0;text-transform: uppercase;
  font-family:Rubik-Regular;font-size: 1.125rem;border: none;box-shadow: 0px 0px 5px #F7C35F;
}
.img-fluid{width: 100%;}

@font-face{src:url(../fonts/DMSans-Bold.ttf);font-family:DMSans-Bold;}
@font-face{src:url(../fonts/DMSans-Medium.ttf);font-family:DMSans-Medium;}
@font-face{src:url(../fonts/DMSans-Regular.ttf);font-family:DMSans-Regular;}
@font-face{src:url(../fonts/Rubik-Bold.ttf);font-family:Rubik-Bold;}
@font-face{src:url(../fonts/Rubik-Light.ttf);font-family:Rubik-Light;}
@font-face{src:url(../fonts/Rubik-Regular.ttf);font-family:Rubik-Regular;}
@font-face{src:url(../fonts/Rubik-Medium.ttf);font-family:Rubik-Medium;}
@font-face{src:url(../fonts/Montserrat-Regular.ttf);font-family:Montserrat-Regular;}




@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bi25mu');
  src:  url('../fonts/icomoon.eot?bi25mu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bi25mu') format('truetype'),
    url('../fonts/icomoon.woff?bi25mu') format('woff'),
    url('../fonts/icomoon.svg?bi25mu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;font-size: 1rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
  color: #f7c35f;font-size: .8rem;
}
.icon-checkbox .path1:before {
  content: "\e901";
  color: rgb(27, 135, 6);
}
.icon-checkbox .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(17, 96, 3);
}
.icon-email:before {
  content: "\e903";
  color: #fff;
}
.icon-foot-call:before {
  content: "\e904";
  color: #f7c35f;
}
.icon-foot-mail:before {
  content: "\e905";
  color: #f7c35f;
}
.icon-footwww:before {
  content: "\e906";
  color: #f7c35f;
}
.icon-growth:before {
  content: "\e907";
  color: #fff;
}
.icon-list:before {
  content: "\e908";
  color: #97c63a;
}
.icon-mail:before {
  content: "\e909";
  color: #fff;
}
.icon-map-marker:before {
  content: "\e90a";
  color: #fff;
}
.icon-phone:before {
  content: "\e90b";
  color: #fff;
}
.icon-planing:before {
  content: "\e90c";
  color: #fff;
}
.icon-spray .path1:before {
  content: "\e90d";
  color: rgb(151, 198, 58);
}
.icon-spray .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(191, 191, 191);
}
.icon-spray .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(191, 191, 191);
}
.icon-spray .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(191, 191, 191);
}
.icon-spray .path5:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(191, 191, 191);
}
.icon-spray .path6:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(191, 191, 191);
}
.icon-spray .path7:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(191, 191, 191);
}
.icon-spray .path8:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(238, 237, 234);
}
.icon-spray .path9:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-spray .path10:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-spray .path11:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-spray .path12:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-spray .path13:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-spray .path14:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-strategy:before {
  content: "\e91b";
  color: #fff;
}
.icon-worldwide:before {
  content: "\e91c";
  color: #fff;
}
